{%extends 'base.html' %}
{%block title%}Testimonials{%endblock%} 
{%block content%} 

<div class="container">
  <h3 class="mt-5 text-center">Testimonials</h3>
  <div class="row">
    <div class="col-sm">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Daredevil #33 in stores. Some B/W.
          <a href="https://twitter.com/zdarsky?ref_src=twsrc%5Etfw">@zdarsky</a>
          <a
            href="https://twitter.com/hashtag/Marvel?src=hash&amp;ref_src=twsrc%5Etfw"
            >#Marvel</a
          >
          <a
            href="https://twitter.com/hashtag/Daredevil?src=hash&amp;ref_src=twsrc%5Etfw"
            >#Daredevil</a
          >
          <a
            href="https://twitter.com/hashtag/Elektra?src=hash&amp;ref_src=twsrc%5Etfw"
            >#Elektra</a
          >
          <a
            href="https://twitter.com/hashtag/IronMan?src=hash&amp;ref_src=twsrc%5Etfw"
            >#IronMan</a
          >
          <a href="https://twitter.com/Marvel?ref_src=twsrc%5Etfw">@Marvel</a>
          <a
            href="https://twitter.com/hashtag/NCBD?src=hash&amp;ref_src=twsrc%5Etfw"
            >#NCBD</a
          >
          <a
            href="https://twitter.com/hashtag/comicbooks?src=hash&amp;ref_src=twsrc%5Etfw"
            >#comicbooks</a
          >
          <a href="https://t.co/897tgPrHWd">pic.twitter.com/897tgPrHWd</a>
        </p>
        &mdash; Marco Checchetto (@MChecC)
        <a
          href="https://twitter.com/MChecC/status/1425826449848561686?ref_src=twsrc%5Etfw"
          >August 12, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <div class="col-sm">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Time to suit up. Here&#39;s your look at the brand new Iron Man Mark
          III Armor Collectible from
          <a href="https://twitter.com/FanhomeUS?ref_src=twsrc%5Etfw"
            >@FanhomeUS</a
          >: <a href="https://t.co/cqcdYMnEQg">https://t.co/cqcdYMnEQg</a>
        </p>
        &mdash; Iron Man (@Iron_Man)
        <a
          href="https://twitter.com/Iron_Man/status/1400920657957998595?ref_src=twsrc%5Etfw"
          >June 4, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
    <div class="col-sm">
      <blockquote class="twitter-tweet">
        <p lang="en" dir="ltr">
          Marvel&#39;s Avengers senior game designer Scott Walters has confirmed
          that Spider-Man is still on track to swing his way into the game for
          PlayStation players before the end of 2021.
          <a href="https://t.co/FZYqcK5Str">https://t.co/FZYqcK5Str</a>
          <a href="https://t.co/H5QU7Zwisx">pic.twitter.com/H5QU7Zwisx</a>
        </p>
        &mdash; IGN (@IGN)
        <a
          href="https://twitter.com/IGN/status/1427042674838802433?ref_src=twsrc%5Etfw"
          >August 15, 2021</a
        >
      </blockquote>
      <script
        async
        src="https://platform.twitter.com/widgets.js"
        charset="utf-8"
      ></script>
    </div>
  </div>
</div>
{%endblock%}
